body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "poppins";
  src: local("poppins"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  user-select: none;
}

.icon {
  font-size: 1.5rem;
}

.icon-title {
  font-size: 0.8rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

input {
  outline: none;
  border: none;
  padding: 8px 12px; 
  background-color: #e7e7e7;
  min-width: 300px;
  border-radius: 8px;
}

.close-icon {
  margin: 5px 10px;
}

.image {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
  object-position:center;
}

.bg-white {
  background-color: white;
}

.mx-auto {
  margin: 0 auto;
}

.skeleton {
  background-color: #D3D3D3 !important;
  height: 100% ;
  width: 100% ;
  border-radius: 100% ;
}

.banner-skeleton {
  height: 70vh !important;
  border-radius: 0% !important;
}

.title-skeleton {
  width: 50%;
  height: 3px;
  margin: 0.8rem auto;
  background-color: #D3D3D3 !important;
  border-radius: 8px;
}
